---
---

:root {
  --kanbas: rgb(253, 246, 239);
  --bughaw: rgb(34, 16, 114);
  --pula: #a70000;
  --kape: rgb(43, 15, 15);
  --dilaw: rgb(255, 175, 55);
  --puti: white;
  --itim: #010101;
  --uling: #404040;
  --abo: #606060;
  --pilak: #e0e0e0;
  --usok: #909090;
  --ulap: #d0d0d0;
  --headlineFont: "Exo 2", sans-serif;
  --bodyFont: "EB Garamond", serif;
  --sysFont: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
    sans-serif;
}

// Font.
$font: (
  primary: ("EB Garamond",sans-serif)
);

// Palette.
$palette: (
  primary:           #303030,
  secondary:           darken(#303030, 15%),
  meta:                lighten(#303030, 20%),
  border:              lighten(#303030, 70%),
  bg:                var(--kanbas),
  accent:            #0072ff,
  accent-alt:        #00c6ff,
  accent-purple:     #b5267b,
  accent-purple-alt: #632695,
  accent-green:      #438945,
  accent-green-alt:  #73bb75,
  accent-orange:     #fe8c00,
  accent-orange-alt: #f83600,
  accent-gray:     #404040,
  accent-gray-alt: #121918,
);

@import "imports/functions";

@import "imports/reset";
@import "imports/general";
@import "imports/icons";
@import "imports/structure";
@import "imports/header";
@import "imports/posts";
@import "imports/sections";
@import "imports/footer";
@import "imports/palettes";
@import "imports/banner";
